ErrorDocument 404 https://www.zappvariety.com/
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^zappvariety\.com [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.zappvariety.com/$1 [R,L]

Allow from All